/.idea/.idea.TerminalHelper/.idea/.gitignore
/TerminalHelper/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/TerminalHelper/obj/project.assets.json
/TerminalHelper/obj/project.nuget.cache
/TerminalHelper/obj/project.packagespec.json
/TerminalHelper/obj/rider.project.model.nuget.info
/TerminalHelper/obj/rider.project.restore.info
/TerminalHelper/obj/Debug/net8.0/TerminalHelper.AssemblyInfo.cs
/TerminalHelper/obj/Release/net8.0/TerminalHelper.AssemblyInfo.cs
/TerminalHelper/obj/Release/net8.0/TerminalHelper.AssemblyInfoInputs.cache
/TerminalHelper/obj/Release/net8.0/TerminalHelper.assets.cache
/TerminalHelper/TerminalHelper.csproj
/TerminalHelper/obj/Release/net8.0/TerminalHelper.csproj.CoreCompileInputs.cache
/TerminalHelper/obj/Release/net8.0/TerminalHelper.csproj.FileListAbsolute.txt
/TerminalHelper/bin/Release/net8.0/TerminalHelper.deps.json
/TerminalHelper/bin/Release/net8.0/TerminalHelper.dll
/TerminalHelper/obj/Release/net8.0/ref/TerminalHelper.dll
/TerminalHelper/obj/Release/net8.0/refint/TerminalHelper.dll
/TerminalHelper/obj/Release/net8.0/TerminalHelper.dll
/TerminalHelper/obj/Release/net8.0/TerminalHelper.GeneratedMSBuildEditorConfig.editorconfig
/TerminalHelper/obj/Release/net8.0/TerminalHelper.GlobalUsings.g.cs
/TerminalHelper/bin/Release/net8.0/TerminalHelper.pdb
/TerminalHelper/obj/Release/net8.0/TerminalHelper.pdb
/TerminalHelper.sln
